<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="The baboon" src="https://i.natgeofe.com/n/fd83d840-d665-45ba-8ec8-35c0132bd2e8/baboons_thumb_16x9.jpg" />
    <ion-card-header>
      <ion-card-title>Baboon</ion-card-title>
      <ion-card-subtitle>"Some of the world's largest monkeys"</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      They are some of the world’s largest monkeys. There are five species of the baboon — olive, yellow, chacma, Guinea, and sacred — scattered across various habitat in Africa and Arabia. The olive baboon is the most extensively distributed of the baboon family. The baboon, like other Old World monkeys, does not have a prehensile (gripping) tail — meaning their tails are not used as a hand — but they are still able to climb when necessary. They all have dog-like noses, powerful jaws, sharp canine teeth, and thick fur. Males have a longer mane around the neck, called a ruff.
      These monkeys are omnivorous and will eat just about anything edible. Grass makes up a large part of their diet, along with berries, seeds, pods, blossoms, leaves, roots, bark, and sap from a variety of plants. They also eat insects and small quantities of meat, such as fish, shellfish, hares, birds, vervet monkeys, and small antelopes. Chacma baboons tend to live in more arid and desert habitats and were observed to survive without water for up to 11 or more days. They all can subsist solely on grass, which gives them the advantage of taking up residencies in savannas not frequented by other monkeys.
    </ion-card-content>
  </ion-card>
</ion-content>
